* {
  margin: 0px;
  padding: 0px;
}

.navegador {
  background-color: rgba(215, 212, 212, 0.95);
  font-weight: bold;
  width: 100%;
  border: 2px black solid;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset -1px -1px 80px 10px rgb(66, 68, 90);
}
.navegador a:hover {
  background: -webkit-linear-gradient(90deg, rgb(35, 52, 231) 27%, rgb(231, 101, 226) 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1024px) {
  .navegador {
    font-size: 18px;
    border: 2px black solid;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

body {
  width: 100%;
  margin-top: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}

.principal {
  padding: 40px;
  margin-bottom: 10px;
}

.secundario {
  background-color: rgba(215, 212, 212, 0.85);
}

.titulos-header {
  font-size: 28px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 20px;
  margin-top: 20px;
  padding-top: 30px;
}
@media (min-width: 560px) {
  .titulos-header {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .titulos-header {
    text-align: center;
  }
}

.parafo {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
@media (min-width: 560px) {
  .parafo {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
  }
}
@media (min-width: 920px) {
  .parafo {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .parafo {
    font-size: 26px;
  }
}
@media (min-width: 1400px) {
  .parafo {
    font-size: 30px;
  }
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 560px) {
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

footer {
  padding-bottom: 70px;
  background-color: rgba(215, 212, 212, 0.85);
  width: 100%;
  box-shadow: inset -1px -1px 80px 10px rgb(66, 68, 90);
}

.quienes_somos {
  color: whitesmoke;
  box-shadow: inset 0px 0px 51px 5px rgb(47, 63, 235);
  padding-left: 10px;
  padding-right: 10px;
  width: 100vw;
  margin: 0px;
  margin-right: 0px;
  height: 80vh;
  background-color: black;
}
@media (min-width: 1024px) {
  .quienes_somos {
    background-image: url(../img/man-runner-start-running-road.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 100vh;
  }
}
.quienes_somos h1 {
  font-size: 40px;
}
@media (min-width: 768px) {
  .quienes_somos h1 {
    font-size: 56px;
  }
}

.contenido-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 560px) {
  .contenido-flex {
    box-shadow: inset 0px 0px 45px -8px rgb(218, 42, 207);
  }
}
@media (min-width: 768px) {
  .contenido-flex {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }
}
.contenido-flex a {
  margin: 5px;
  padding: 5%;
  background-color: silver;
  color: black;
  font-size: 38px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .contenido-flex a {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 56px;
  }
}
.contenido-flex a:visited {
  text-decoration: none;
  padding: 10px;
  background-color: silver;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .contenido-flex a:visited {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 56px;
  }
}

.pareja {
  height: auto;
  max-width: 90%;
  margin-bottom: 15px;
}
@media (max-width: 450px) {
  .pareja {
    height: auto;
    max-width: 100%;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .pareja {
    display: none;
  }
}

.subte {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 560px) {
  .subte {
    margin: 20px;
    margin-bottom: 2px;
  }
}
@media (min-width: 768px) {
  .subte {
    margin: 40px;
    overflow: hidden;
    border: 4px whitesmoke solid;
  }
}

.otras-paginas {
  margin: 20px;
}

main {
  grid-area: main;
}

article.principal {
  grid-area: principal;
}

article.secundario {
  grid-area: secundario;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.contenedor-grid {
  background-color: whitesmoke;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-areas: "main" "principal" "secundario" "aside" "footer";
}
@media (min-width: 768px) {
  .contenedor-grid {
    background-color: whitesmoke;
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main main" "principal principal" "secundario secundario" "aside aside";
  }
}

.historia-contenedor {
  box-shadow: inset 0px 0px 51px 5px rgb(47, 63, 235);
  line-height: 35px;
  letter-spacing: 3px;
  word-spacing: 2px;
}
.historia-contenedor img {
  width: 100%;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 520px) {
  .historia-contenedor img {
    height: 55vw;
  }
}
@media (min-width: 768px) {
  .historia-contenedor img {
    height: 30vw;
  }
}
@media (min-width: 1024px) {
  .historia-contenedor img {
    height: 30vw;
  }
}
@media (min-width: 1400px) {
  .historia-contenedor img {
    height: 20vw;
  }
}

.historia-principal {
  padding: 5%;
  background-color: rgba(191, 191, 191, 0.65);
  width: 100%;
  height: auto;
  box-shadow: inset 0px 0px 50px 0px rgb(107, 0, 173);
}
@media (min-width: 768px) {
  .historia-principal {
    background-color: black;
    color: whitesmoke;
  }
}
@media (min-width: 1024px) {
  .historia-principal {
    height: 65vh;
    align-items: center;
  }
}

.border-personajes {
  border: 0px black solid;
  margin-top: 30px;
  margin-bottom: 0px;
}
.border-personajes button:hover {
  border: 3px solid;
  -o-border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.65), rgba(128, 0, 128, 0.65)) 1;
     border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.65), rgba(128, 0, 128, 0.65)) 1;
}

.titulos-header-historia {
  font-size: 28px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 0px;
}
@media (min-width: 560px) {
  .titulos-header-historia {
    font-size: 38px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .titulos-header-historia {
    font-size: 44px;
  }
}

.entrenamiento-principal {
  background-color: rgba(215, 212, 212, 0.85);
}
@media (min-width: 768px) {
  .entrenamiento-principal {
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
    box-shadow: inset 0px 0px 50px -1px rgb(239, 224, 30);
  }
}

.entrenamiento-secundario a:hover {
  background: rgb(35, 52, 231);
  background: linear-gradient(90deg, rgba(35, 52, 231, 0.65) 27%, rgba(231, 101, 226, 0.65) 95%);
  color: whitesmoke;
}

.formulario {
  margin-bottom: 30px;
  margin-top: 20px;
  color: black;
  box-shadow: inset 0px 0px 33px 16px rgb(66, 68, 90);
}

.fondo {
  background-color: rgba(192, 192, 192, 0.75);
}

.imgrunning {
  margin-right: 1%;
}

.icon {
  width: auto;
  max-height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#solodeportes {
  width: 95px;
  height: 60px;
}

.zapatilla-pegasus {
  width: 98%;
  border: 2px solid black;
  padding: 1%;
  margin: 1%;
}

.ubicacion {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.visitarnos {
  line-height: 40px;
  word-spacing: 5px;
  color: rgb(12, 12, 13);
  text-transform: uppercase;
  border: solid 3px;
  -o-border-image: linear-gradient(45deg, black, grey) 1;
     border-image: linear-gradient(45deg, black, grey) 1;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.big-title {
  font-size: 32px;
}

.zonas {
  padding-bottom: 40px;
  padding-top: 40px;
}

.mejores {
  text-align: center;
}

.accordion {
  margin-bottom: 20px;
}

.accordion-item {
  margin: 4px;
  text-decoration: none;
}

.accordion-item a:hover {
  color: black;
}

@media (min-width: 560px) {
  .navbar-nav a {
    color: whitesmoke;
  }
  .main-flex {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .secundario {
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
  }
}
@media (min-width: 768px) {
  .zapatilla-pegasus {
    border: 6px solid;
    -o-border-image: linear-gradient(45deg, blue, purple) 1;
       border-image: linear-gradient(45deg, blue, purple) 1;
    width: 60vw;
    height: 50vw;
  }
  .novedades {
    border: 3px solid white;
  }
  .fondo {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  .fondu {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px black solid;
    color: white;
  }
  .acercar {
    overflow: hidden;
  }
  .acercar img {
    transition: all 1.5s;
  }
  .acercar:hover img {
    transform: scale(1.5);
  }
}
@media (min-width: 1024px) {
  .visitarnos {
    border: none;
  }
  .formulario {
    background-color: silver;
    padding-bottom: 30px;
    padding-top: 20px;
    border: 4px solid;
    border-radius: 30px;
  }
}/*# sourceMappingURL=style.css.map */