* {
    margin: 0;
    padding: 0;
}

.navegador{
    background-color: rgba(215, 212, 212, 0.95);
    font-weight: bold;
    border: 2px black solid;
}

.navegador a:hover {
    background: -webkit-linear-gradient(90deg, rgba(35,52,231,1) 27%, rgba(231,101,226,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
}

.historia-container {
    text-align: center;
}

.principal {

    padding: 40px;
    margin-bottom: 10px;
}

.secundario {
    background-color: rgba(215, 212, 212, 0.85);

}

.entrenamiento-principal {
    background-color: rgba(215, 212, 212, 0.85);
}

.entrenamiento-secundario a:hover {
    background: rgb(35,52,231);
    background: linear-gradient(90deg, rgba(35,52,231,1) 27%, rgba(231,101,226,1) 95%);
    color: whitesmoke;
}

.border-personajes button:hover {
    border: 3px solid;
    border-image: linear-gradient(45deg, blue, purple) 1
}

.otras-paginas {
    margin: 20px;

}

.contenido-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formulario {
    margin-bottom: 30px;
    margin-top: 20px;

}

.contenido-flex a {
    margin: 5px;
    padding: 5%;
    background-color: silver;
    color: black;
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    width: 100%;
    height: auto;
    ;
}

.border-personajes {
    border: 1px black solid;
    margin-top: 30px;
    margin-bottom: 0px;
}

.fondo {
    background-color: rgb(192, 192, 192, 0.75);
}

.contenido-flex a:visited {
    text-decoration: none;
    padding: 10px;
    background-color: silver;
    color: black;
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    width: 100%;
    vertical-align: middle;
}

.historia-principal {
    padding: 5%;
    background-color: rgb(191, 191, 191, 0.65);
    width: 100%;
    height: auto;
    ;
}

.imgrunning {
    margin-right: 1%;
}

.subte {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.redes {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.icon {
    width: auto;
    max-height: 100%;
    margin: 40px;
}

#solodeportes {
    width: 95px;
    height: 60px;
}

.zapatilla-pegasus {
    width: 98%;
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
}

footer {
    padding-bottom: 70px;
    background-color: rgba(215, 212, 212, 0.85);
    width: 100%;
}

.ubicacion {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.visitarnos {
    line-height: 40px;
    word-spacing: 5px;
    color: rgb(12, 12, 13);
    text-transform: uppercase;
    border: solid 3px;
    border-image: linear-gradient(45deg, black, grey) 1;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.big-title {
    font-size: 32px;

}

.zonas {
    padding-bottom: 40px;
    padding-top: 40px;
}

.titulos-header {
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    margin-top: 20px;
    padding-top: 30px;
}

.mejores {
    text-align: center;
}

main {
    grid-area: main;
}

article.principal {
    grid-area: principal;
}

.accordion {
    margin-bottom: 20px;
}

article.secundario {
    grid-area: secundario;
}

aside {
    grid-area: aside;
}

.accordion-item {
    margin: 4px;
    text-decoration: none;
}

.contenedor-grid {
    background-color: whitesmoke;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-areas:
        "main"
        "principal"
        "secundario"
        "aside";
}

.parafo {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 10px;
    padding-right: 10px;


}

@media (min-width:560px) {
    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .navbar-nav a {
        color: whitesmoke;
    }

    .parafo {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 24px;
        text-align: justify;
        text-justify: inter-word;
        margin: 10px;

    }

    .titulos-header {
        font-size: 38px;
    }

    .subte {
        margin: 20px;
        margin-bottom: 2px;
    }

    .main-flex {
        background-color: rgb(0, 0, 0, 0.85);
    }

    .secundario {
        background-color: rgb(0, 0, 0, 0.85);
        color: whitesmoke;
    }
}

@media (min-width:768px) {
    .zapatilla-pegasus {
        border: 6px solid;
        border-image: linear-gradient(45deg, blue, purple) 1;
    }

    .contenido-flex {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

    .subte {
        margin: 40px;
        overflow: hidden;
        border: 4px whitesmoke solid;
    }

    .contenedor-grid {
        background-color: whitesmoke;
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "main main"
            "principal principal"
            "secundario secundario"
            "aside aside";
    }

    .contenido-flex a {
        background-color: rgb(0, 0, 0, 0.00);
        color: white;
        font-size: 56px;
    }

    .historia-principal {
        background-color: rgb(0, 0, 0, 0.85);
        color: whitesmoke;

    }

    .entrenamiento-principal {
        background-color: rgb(0, 0, 0, 0.85);
        color: whitesmoke;
    }

    .contenido-flex a:visited {
        background-color: rgb(0, 0, 0, 0.0);
        color: white;
        font-size: 56px;
    }

    .novedades {
        border: 3px solid white;
    }

    .titulos-header {
        text-align: center;

    }

    .fondo {
        background-color: rgb(0, 0, 0, 0.80);
        color: white;
    }

    .zapatilla-pegasus {
        width: 60vw;
        height: 50vw;
    }

    .acercar {
        overflow: hidden;
    }

    .acercar img {
        transition: all 1.5s;
    }

    .acercar:hover img {
        transform: scale(1.5);
    }

    .filípides {
        padding-top: 100px;
    }
}

@media (min-width:1024px) {
    .visitarnos {
        border: none;
    }



    .historia-principal {
        height: 65vh;
        align-items: center;
    }

    .formulario {
        background-color: silver;
        padding-bottom: 30px;
        padding-top: 20px;
        border: 4px solid;
        border-radius: 30px;

    }

    .navegador {
        font-size: 18px;
        border: 2px black solid;
        padding: 5px;
    }
}

