.entrenamiento-principal {
    background-color: rgba(215, 212, 212, 0.85);
}

.entrenamiento-secundario a:hover {
    background: rgb(35,52,231);
    background: linear-gradient(90deg, rgba(35,52,231,1) 27%, rgba(231,101,226,1) 95%);
    color: whitesmoke;
}