
@import "generales";
@import "index";
@import "historia";
@import "entrenamiento";
@import "unite";


.fondo {
    background-color: rgb(192, 192, 192, 0.75);
}

$font: 50px;

.imgrunning {
    margin-right: 1%;
}

.icon {
    width: auto;
    max-height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#solodeportes {
    width: 95px;
    height: 60px;
}

.zapatilla-pegasus {
    width: 98%;
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
}

.ubicacion {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.visitarnos {
    line-height: 40px;
    word-spacing: 5px;
    color: rgb(12, 12, 13);
    text-transform: uppercase;
    border: solid 3px;
    border-image: linear-gradient(45deg, black, grey) 1;
    padding: 5px;
    font-weight: bold;
    font-size: $font/2;
    text-align: center;
}
.big-title {
    font-size: 32px;
}

.zonas {
    padding-bottom: 40px;
    padding-top: 40px;
}
.mejores {
    text-align: center;
}
.accordion {
    margin-bottom: 20px;
}
.accordion-item {
    margin: 4px;
    text-decoration: none;
} 
.accordion-item a:hover {
    color: black;
} 

@media (min-width:560px) {
    .navbar-nav a {
        color: whitesmoke;
    }
    .main-flex {
        background-color: rgb(0, 0, 0, 0.85);
    }

    .secundario {
        background-color: rgb(0, 0, 0, 1);
        color: whitesmoke;
    }
}
@media (min-width:768px) {
    .zapatilla-pegasus {
        border: 6px solid;
        border-image: linear-gradient(45deg, blue, purple) 1;
        width: 60vw;
        height: 50vw;
    }
    .novedades {
        border: 3px solid white;
    }
    .fondo {
        background-color: rgb(0, 0, 0, 1);
        color: white;
    }
    .fondu{
        background-color: rgb(0, 0, 0, 0.50);
        border-radius:10px; border: 1px black solid;
        color: white;
    }
    .acercar {
        overflow: hidden;
        img{transition: all 1.5s;
        }
        &:hover img {
            transform: scale(1.5);
    }
    }
}

@media (min-width:1024px) {
    .visitarnos {
        border: none;
    }
    }
