
@import "generales";
@import "index";
@import "historia";
@import "entrenamiento";

.formulario {
    margin-bottom: 30px;
    margin-top: 20px;

}
.fondo {
    background-color: rgb(192, 192, 192, 0.75);
}

.imgrunning {
    margin-right: 1%;
}

.pareja{
    height: auto;
    max-width: 90%;
    margin-bottom: 15px;}

.icon {
    width: auto;
    max-height: 100%;
    margin: 40px;
}

#solodeportes {
    width: 95px;
    height: 60px;
}


.zapatilla-pegasus {
    width: 98%;
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
}

.ubicacion {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.visitarnos {
    line-height: 40px;
    word-spacing: 5px;
    color: rgb(12, 12, 13);
    text-transform: uppercase;
    border: solid 3px;
    border-image: linear-gradient(45deg, black, grey) 1;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.big-title {
    font-size: 32px;
}

.zonas {
    padding-bottom: 40px;
    padding-top: 40px;
}

.mejores {
    text-align: center;
}

.accordion {
    margin-bottom: 20px;
}
.accordion-item {
    margin: 4px;
    text-decoration: none;
} 

@media (max-width:450px){
    .pareja{
        height: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
}

@media (min-width:560px) {
    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }


    .navbar-nav a {
        color: whitesmoke;
    }


    .parafo {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 22px;
        text-align: justify;
        text-justify: inter-word;
        
    }

    .titulos-header {
        font-size: 38px;
    }

    .subte {
        margin: 20px;
        margin-bottom: 2px;
    }

    .main-flex {
        background-color: rgb(0, 0, 0, 0.85);
    }

    .secundario {
        background-color: rgb(0, 0, 0, 0.85);
        color: whitesmoke;
    }
    .contenido-flex {
        -webkit-box-shadow: inset 0px 0px 45px -8px rgba(218, 42, 207, 1);
    -moz-box-shadow: inset 0px 0px 45px -8px rgba(218, 42, 207, 1);
    box-shadow: inset 0px 0px 45px -8px rgba(218, 42, 207, 1);
    }
}

@media (min-width:768px) {
    .zapatilla-pegasus {
        border: 6px solid;
        border-image: linear-gradient(45deg, blue, purple) 1;
    }
    .contenido-flex {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

    .subte {
        margin: 40px;
        overflow: hidden;
        border: 4px whitesmoke solid;
    }

    .contenedor-grid {
        background-color: whitesmoke;
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "main main"
            "principal principal"
            "secundario secundario"
            "aside aside";
    }

    .contenido-flex a {
        background-color: rgb(0, 0, 0, 0.00);
        color: white;
        font-size: 56px;
    }

    .historia-principal {
        background-color: rgb(0, 0, 0, 0.85);
        color: whitesmoke;
    }

    .entrenamiento-principal {
        background-color: rgb(0, 0, 0, 0.85);
        color: whitesmoke;
    }

    .contenido-flex a:visited {
        background-color: rgb(0, 0, 0, 0.0);
        color: white;
        font-size: 56px;
    }

    .novedades {
        border: 3px solid white;
    }

    .titulos-header {
        text-align: center;
    }

    .quienes_somos h1{
        font-size: 56px;
    }

    .fondo {
        background-color: rgb(0, 0, 0, 0.80);
        color: white;
    }
    .fondu{
        background-color: rgb(0, 0, 0, 0.50);
        border-radius:10px; border: 1px black solid;
        color: white;
    }
    
    .zapatilla-pegasus {
        width: 60vw;
        height: 50vw;
    }

    .acercar {
        overflow: hidden;
    }

    .acercar img {
        transition: all 1.5s;
    }

    .acercar:hover img {
        transform: scale(1.5);
    }
    .filípides {
        padding-top: 100px;
    }
}

@media (min-width:1024px) {
    .visitarnos {
        border: none;
    }

.quienes_somos{
    background-image: url(../img/man-runner-start-running-road.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 100vh;
}
.historia-principal {
        height: 65vh;
        align-items: center;
    }

.formulario {
        background-color: silver;
        padding-bottom: 30px;
        padding-top: 20px;
        border: 4px solid;
        border-radius: 30px;
    }

    .navegador {
        font-size: 18px;
        border: 2px black solid;
        padding: 5px;
    }
    }

@media screen and (min-width:1400px) {  
    .pareja {
    display: none;
    }}
